
header{
  text-align: center;
    font-style:italic;
    font-weight: 600;
    font-size: 300%;
    color: purple;
    font-family: 'Oswald', sans-serif;
    
}


body{   
    background-image: url('old_map/old_map.png.png');
     background-repeat: repeat-y;
  background-position: 130px 130px;
    background-size: 1100px;    
   text-align: center;      
    background-color:lightblue;
color:purple;}


hr{
    color: purple;
    background-color: purple;
  border: 0;
  width: 80%;
    height: 1px;
}
    
div{  color:black;
    font-style:italic;
    text-decoration: underline;}



p {
    font-size: 110%;
    text-align: center;
    padding-top: 15px;
    padding-right: 110px;
    padding-bottom: 4px;
    padding-left: 120px;
    font-family: 'Oswald', sans-serif;
  
}