body{
    text-align: center;
font-size: 10px;
background-image: 
    url('../Images/dawn-dust-grass-2946.jpg');
    background-repeat: no-repeat;
background-position: center center;
    background-attachment: fixed;
}
h1{
    font-size: 90px;
}