
/*
Andrea Groch

Orange-#DC6A22
Tan-#EEB795
Brown-#341908
*/
.main{ width: 60%;
float: left;
 border-style: solid;
    border-width: 3px;
    margin: 20px;
    background-color: pink;
    border-color: green;

}

.sidebar{ width: 30%;
    float: left;
  border-style: solid;
    border-width: 3px;
margin: 2px;
background-color: pink;
border-color: green;}

.site-footer{ width: 90%;
float: left;
border-style: solid;
border-width: 3px;
text-align: center;
margin: 10px;
background-color: pink;
border-color: green;}





header{
    background-image: url('../Images/colorful_background-1920x1200.jpg');
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  
}
h1{font-family: 'Lobster', cursive; 
}

header h1{
    text-align: center;
    color: white;
            
}
 
    
a {
    color: #DC6A22;}
    h1{ color: #DC6A22;}

.colorwrapper{
        background-color: white;}



.colorsquare{ width: 150px;
    height: 150px; 
    float: left;
}

   

.color1{  
    background-color: #DC6A22;}
.color2{   
    background-color: #EEB795;}
.color3{  
    background-color: #341908;}


body{
    background-image: 
    url('../CSS/upfeathers/upfeathers.png.png');
    background-repeat: repeat;
background-position: center;
    background-attachment: fixed;
}

    
    
   .cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content:  "  "; /* 1 */
   display: table; /* 2 */
}
.clearfix:after {
        clear: both;}




    