
/*
Andrea Groch

Orange-#DC6A22
Tan-#EEB795
Brown-#341908
*/

@import url(http://fonts.googleapis.com/css?family=Lobster);
header{
    background-color: brown;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
h1{font-family: 'Lobster', cursive;}

header h1{
    text-align: center
            
}
 
    
a {
    color: #DC6A22;}
    h1{ color: #DC6A22;}

.colorwrapper{
        background-color: white}



.colorsquare{ width: 200px;
    height: 200px; 
    float: left;
}

   

.color1{  
    background-color: #DC6A22;}
.color2{   
    background-color: #EEB795;}
.color3{  
    background-color: #341908;}
}


    
    
    
   .cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content:  "  "; /* 1 */
   display: table; /* 2 */
}
.clearfix:after {
        clear: both;}

.site-footer a{
    color: brown;
    font-size: 8em
        text-decoration: none;
}
    
.site-footer a:hover{
color:green;
    text-decoration: inherit;
}
    